<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CodingAngryheart</title>
  <link rel="stylesheet" href="/indexcss.css" />
  <link href="/next1">
</head>

<body>
  <div id="navbar">
    <nav class="navbar-container">
      <div class="hamburger" onclick="hamclick()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="left-n-c">
        <h1>CodingAngryheart</h1>
      </div>
      <div class="nav-links-c">
        <ul class="nav-a-links">
          <li class="s-link">
            <a href="/indexcss"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/home.png"
                alt="home" /></a>
          </li>
          <li class="s-link"><a href="/index">HTML</li></a>
          <li class="s-link"><a href="/indexcss">CSS</li></a>
          <li class="s-link"><a href="/indexjs">JavaScript</li></a>

          <li class="s-link"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="right-n-c">
        <input class="scinput" type="text" placeholder="search here..." />
        <img class="searchi" width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/search--v1.png"
          alt="search--v1" onclick="sonclick()" />
        <img id="darki" width="64" height="64"
          src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/external-night-halloween-bearicons-glyph-bearicons.png"
          alt="external-night-halloween-bearicons-glyph-bearicons" onclick="ionclick()" />
        <a href="/signup"><button id="sn-btn">Signup</button></a>
      </div>
    </nav>
  </div>
  <hr />
  <section id="Home">
    <!-- <img src="https://images.unsplash.com/photo-1503252947848-7338d3f92f31?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1031&q=80" alt="home img"> -->

    <img src="home2.gif" alt="gif">
    <div class="home-container">
      <h2>
        <span class="htyped"></span>
      </h2>
      <h2>Explore With CodingAngryheart</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate
        fugiat officiis possimus quae sunt debitis eaque, vel magni esse
        ipsum, doloremque eos eveniet dolor minima reprehenderit voluptatem
        odio delectus laboriosam sed. Mollitia, assumenda rem!
      </p>
      <div class="h-btn-container">
        <button class="h-1-btn">More thoughts</button>
        <button class="h-2-btn">Explore more</button>
      </div>
    </div>
  </section>
  <hr />
  <section id="HTML">
    <div class="HTML-container">
      <h1>
        Welcome to the CSS Tutorial
        <img width="50" height="50" src="https://img.icons8.com/ios/50/css3.png" alt="css3" />
      </h1>
      <p>Let's start this Tutorial with Gracefully</p>
      <div class="HTML-a-c">
        <div class="html-a-lc">
          <div class="first-html-c">
            <h2>CSS Overview</h2>
            <br /><a href="/indexcss">1. Introduction</a>
            <br /><a href="/nextcss1">2. CSS Syntax</a>
            <br /><a href="/nextcss2">3. CSS- Measurement Units</a>
            <br /><a href="/nextcss3">4. CSS - Properties</a>
            <br /><a href="/nextcss31">&rArr; CSS Color Property</a>
            <br /><a href="/nextcss32">&rArr; CSS Background Property</a>
            <br /><a href="/nextcss32(1)">i. CSS Background Color</a>
            <br /><a href="/nextcss32(2)">ii. CSS Background Image</a>
            <br /><a href="/nextcss32(3)">iii. CSS Background Size</a>
            <br /><a href="/nextcss32(4)">iv. CSS Background Clip</a>
            <br /><a href="/nextcss32(5)">v. CSS Background Position</a>
            <br /><a href="/nextcss32(6)">vi. CSS Background Attachment</a>
            <br /><a href="/nextcss33">&rArr; CSS Padding Property</a>
            <br /><a href="/nextcss34">&rArr; CSS Margin Property</a>
            <br /><a href="/nextcss35">&rArr; CSS Height/width Property</a>
            <br /><a href="/nextcss36">&rArr; CSS Border Property</a>
            <br /><a href="/nextcss36(1)">i. CSS Border Style</a>
            <br /><a href="/nextcss36(2)">ii. CSS Border Width</a>
            <br /><a href="/nextcss36(3)">iii. CSS Border Color</a>
            <br /><a href="/nextcss36(4)">iv. CSS Border Radius</a>
            <br /><a href="/nextcss37">&rArr; CSS Font Property</a>
            <br /><a href="/nextcss37(1)">i. CSS Font Size</a>
            <br /><a href="/nextcss37(2)">ii. CSS Font Weight</a>
            <br /><a href="/nextcss37(3)">iii. CSS Font Style</a>
            <br /><a href="/nextcss37(4)">iv. CSS Font Family</a>
            <br /><a href="/nextcss37(5)">v. CSS Font Variant</a>
            <br /><a href="/nextcss38">&rArr; CSS Text Property</a>
            <br /><a href="/nextcss38(1)">i. CSS Text Align</a>
            <br /><a href="/nextcss38(2)">ii. CSS Text Decoration</a>
            <br /><a href="/nextcss38(3)">iii. CSS Text Indent</a>
            <br /><a href="/nextcss38(4)">iv. CSS Text Shadow</a>
            <br /><a href="/nextcss38(5)">v. CSS Text Overflow</a>
            <br /><a href="/nextcss38(6)">vi. CSS Text Transform</a>
            <br /><a href="/nextcss39">&rArr; CSS Outline Property</a>
            <br /><a href="/nextcss40">&rArr; CSS Box-shadow Property</a>
            <br /><a href="/nextcss41">&rArr; CSS Drop-shadow Property</a>
          </div>
          <div class="second-html-c"></div>
          <div class="thired-html-c"></div>
          <div class="forth-html-c"></div>
        </div>

        <div id="ide">
          <div class="ide-p">
            <p>Try with copy the code &#8611;</p>
          </div>
          <div class="ide">
            <div class="ide-c">
              <a href="https://onecompiler.com/html"><img width="100" height="100" src="https://img.icons8.com/carbon-copy/100/source-code.png"
                alt="source-code" /></a>
            </div>
          </div>
        </div>

        <div id="intro" class="html-a-rc">


          <div class="all-explore">
            <h3>Introduction of CSS</h3>
            <h4>&rarr; Let's we describe actually what is css and How we use it for designing in html page.</h4>

            <div class="explore">
              <p>&#x2022; CSS stands for the Casecading Style Sheets.</p>
              <p>&#x2022; With the use of CSS in HTML page you can design a unique, colorfull page.</p>
              <p>&#x2022; Using CSS, we can control the color of the texts, backgrounds, spacing between texts, fonts
                style, size, layout etc.</p>
              <p>&#x2022; CSS is easy to learn and understand but it provides a powerful control over the presentation
                of an HTML document. Most commonly, CSS is combined with the markup languages HTML
                or XHTML.</p>
            </div>
            <h4>Generally CSS can be added to html page in weys that is;</h4>
            <h4 style="margin-left:2rem;">1. Inline CSS</h4>
            <h4 style="margin-left:2rem;">2. Internal CSS</h4>
            <h4 style="margin-left:2rem;">3. External CSS</h4>

            <div class="explore">
              <p>"<big><b>In Inline CSS,</b></big> Inline CSS is usefull when we need to define specific style for
                individual
                elements present on the web page."</p>

            </div>
            <div class="explore">
              <p>&rarr; Let Understand this topic through an html code;</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                <p style="color: rgb(155, 155, 155);">&lt;!-- Welcome to CSS Tutorial --&gt;</p>
                <br>
                <p style="color: rgb(190, 190, 190);">&lt;!DOCTYPE html&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;html lang="en"&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;head&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta charset="UTF-8"&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta name="viewport"
                  content="width=device-width, initial-scale=1.0"&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;title&gt;Testing&lt;/title&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/head&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;h1 style="color:rgb(0, 4, 255)";&gt;This is
                  heading Tag and i am using this tag with color property to change the color of the text.&lt;/h1&gt;
                </p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;font color="red";&gt;This is font Tag and i
                  am using this tag with color property to change the color of the text.&lt;/font&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/html&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on
                the brwser;</p>
              <img src="Screenshot (203).png" alt="output"
                style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">
            </div>

            <div class="explore">
              <p>"<big><b>In Internal CSS,</b></big> When creating a stylesheet internally in web page, you will need to
                use the
                &lt;style&gt;&lt;/style&gt; in HTML Tag in the head section of your web page."</p>
              <p>&rarr; Let Understand this topic through an html code;</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                <p style="color: rgb(155, 155, 155);">&lt;!-- Welcome to CSS Tutorial --&gt;</p>
                <br>
                <p style="color: rgb(190, 190, 190);">&lt;!DOCTYPE html&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;html lang="en"&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;head&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta charset="UTF-8"&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta name="viewport"
                  content="width=device-width, initial-scale=1.0"&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;title&gt;Testing&lt;/title&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;style&gt;
                <p style="color: rgb(190, 190, 190);">#bg{</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">background-color: aquamarine;</p>
                <p style="color: rgb(190, 190, 190);">}</p>
                <p style="color: rgb(190, 190, 190);">h1{</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color:rgb(255, 255, 255);</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">background-color: black;</p>
                <p style="color: rgb(190, 190, 190);">}</p>
                <p style="color: rgb(190, 190, 190);">.paragraph{</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: black;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">background-color: white;</p>
                <p style="color: rgb(190, 190, 190);">}</p>
                <p style="color: rgb(190, 190, 190);">&lt;/style&gt;</p>
                </p>
                <p style="color: rgb(190, 190, 190);">&lt;/head&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;h1 style="color:rgb(0, 4,
                  255)";&gt;This is h1 Tag and i am using this tag with internal color property to change the color of
                  the text.&lt;/h1&gt;
                </p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;h1 class="paragraph";&gt;This is a
                  paragraph tag with some content.&lt;/h1&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/html&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on
                the brwser;</p>
              <img src="Screenshot (204).png" alt="output"
                style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">
            </div>

            <div class="explore">
              <p>"<big><b>In External CSS,</b></big> With an external style sheet, you can change the look of an entire
                website by changing just one file!"</p>
              <p>To use External CSS, Each page must include a reference to the external style sheet file inside the
                &lt;link&gt; element. The &lt;link&gt; element goes inside the head section.
              </p>

            </div>
            <div class="explore">
              <p>&rarr; Let Understand this topic through an html code;</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                <p style="color: rgb(155, 155, 155);">&lt;!-- Welcome to CSS Tutorial --&gt;</p>
                <br>
                <p style="color: rgb(190, 190, 190);">&lt;!DOCTYPE html&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;html lang="en"&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;head&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta charset="UTF-8"&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta name="viewport"
                  content="width=device-width, initial-scale=1.0"&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;link rel="stylesheet" href="style.css"&gt;
                </p>
                <p style="color: rgb(190, 190, 190);">&lt;title&gt;Testing&lt;/title&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/head&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;body id="bg"&gt;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;h1&gt;This is h1 Tag and i am using this
                  tag with internal color property to change the color of the text.&lt;/h1&gt;
                </p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;This is a paragraph tag with some
                  content.&lt;/p&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/html&gt;</p>
              </div>
              <p>Now we will create a css file which name will be "style.css" and import in "index" file through
                &lt;link&gt; tag. As you can see the above example of the html code.;</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                <p style="color: rgb(155, 155, 155);">&lt;!-- This css file link with html file --&gt;</p>
                <p style="color: rgb(155, 155, 155);">#bg{</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;"> background-color: green;</p>
                <p style="color: rgb(155, 155, 155);">}</p>
                <p style="color: rgb(155, 155, 155);">h1{</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;"> color: white;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;"> background-color: black;</p>
                <p style="color: rgb(155, 155, 155);">}</p>
                <p style="color: rgb(155, 155, 155);">p{</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;"> color: black;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">background-color: white;</p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on
                the brwser;</p>
              <img src="Screenshot (205).png" alt="output"
                style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">
            </div>
            <div class="explore">
              <h4>&rarr; Who was the CSS created?</h4>
              <img id="rimg" src="img1.jpg" alt="image">
              <p>&#x2022; <big><b>CSS</b></big> (Cascading Style Sheets) was first proposed by <big><b>Håkon Wium
                    Lie</b></big> on <big><b>October 10, 1994</b></big> while working with <big><b>Tim
                    Berners-Lee</b></big> at CERN and the rest is history. <big><b>CSS</b></big> was not the only
                styling language in development at the time, but the very element of cascading and developing sequence
                is what set it apart from the rest.</p>
            </div>
            <div class="explore">
              <h4>&rarr; History of CSS</h4>
              <P>CSS came first into existence in 1994. CSS evolved all these years and W3C maintained the standards
                with CSS1, CSS2 and CSS3.</P>
              <P>They were built on top of each other with better adaptability and more features. Each one had issues
                that were solved by the next standard.</P>
              <P>CSS got major adaptability issues with multiple web browsers coming up all these years starting from
                Internet Explorer, Opera, Firefox, Chrome and Edge.</P>
              <h4>&#9658; CSS 1</h4>
              <p><big><b>CSS 1</b></big> was adapted in 1996. It was difficult and less adapted by then recent browsers
                such as Internet Explorer 3, Internet Explorer 4 and Netscape 4.x.</p>
              <h4>&#9658; CSS 2</h4>
              <p><big><b>CSS 2</b></big> is the improvement of CSS1. It removed the not fully interoperable features. It
                also included the browser extensions.</p>
              <h4>&#9658; CSS 3</h4>
              <p><big><b>CSS 3</b></big> is the most recent and currently used. It has XHTML specification. CSS3 has its
                major focus on modularisation and separation of concerns.</p>
            </div>

          </div>

          <!-- <div id="struc" class="html-a-rc">
            <h3>HTML Document Structure</h3>
           <div class="all-explore">
             <h4>&rarr; welcome here</h4>
           </div>
         </div> -->


        </div>


      </div>
    </div>

    <div class="previous-next-b">
      <button class="btn" onclick="previous()" disabled>&larr;Previous</button>
      <a href="/nextcss1"><button class="btn" onclick="next()">Next&rarr;</button></a>
    </div>

  </section>

  <section id="footer">
    <div class="foo-container">
      <h1><img src="st (2).jpg" alt="logo"><big> @</big>CodingAngryheart</h1>
      <p>Welcome to our best learning plateform and Follow us through these social media's to keep learning and explore
        mind thoughts. If you have any question in your mind,<br> ask through social media's or contact page. </p>
      <div class="social">
        <a href="https://www.facebook.com/profile.php?id=100067532370640&mibextid=ZbWKwL"><img width="24" height="24"
            src="https://img.icons8.com/material/24/facebook-new.png" alt="facebook-new" /></a>
        <a href="https://instagram.com/pavanprajapati9206?igshid=NGExMmI2YTkyZg=="><img width="24" height="24"
            src="https://img.icons8.com/material/24/instagram-new--v1.png" alt="instagram-new--v1" /></a>
        <a href="https://github.com/Pavanpraja"><img width="24" height="24"
            src="https://img.icons8.com/material/24/github.png" alt="github" /></a>
        <a
          href="https://www.linkedin.com/in/pavan-prajapati-8a348626b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B2NPwgjDTRW28Ni%2BJv5OEgw%3D%3D"><img
            width="24" height="24" src="https://img.icons8.com/material/24/linkedin--v1.png" alt="linkedin--v1" /></a>
      </div>
    </div>
  </section>
  <footer>
    Copyright &copy; 2023 CodingAngryheart.com
  </footer>
</body>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>

<script src="script.js"></script>
<script>
   var typed = new Typed(".htyped", {
      strings: [
        "Hello...",
        " Welcome to Our Website ",
        "In this website",
        "we will explore about Many languages like...",
        "HTML",
        "CSS",
        "JavaScript",
      ],
      typeSpeed: 60,
      backSpeed: 10,
      loop: true,
    });
</script>

</html>