<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CodingAngryheart</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
</head>

<body>
  <div id="navbar">
    <nav class="navbar-container">
      <div class="hamburger" onclick="hamclick()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="left-n-c">
        <h1>CodingAngryheart</h1>
      </div>
      <div class="nav-links-c">
        <ul class="nav-a-links">
          <li class="s-link">
            <a href="/index"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/home.png"
                alt="home" /></a>
          </li>
          <li class="s-link"><a href="/index">HTML</li></a>
          <li class="s-link"><a href="/indexcss">CSS</li></a>
          <li class="s-link"><a href="/indexjs">JavaScript</li></a>
          <li class="s-link"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="right-n-c">
        <input class="scinput" type="text" placeholder="search here..." />
        <img class="searchi" width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/search--v1.png"
          alt="search--v1" onclick="sonclick()" />
        <img id="darki" width="64" height="64"
          src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/external-night-halloween-bearicons-glyph-bearicons.png"
          alt="external-night-halloween-bearicons-glyph-bearicons" onclick="ionclick()" />
        <a href="/signcookie" class="plink" style="text-decoration: none;" onmousedown="onMousedown()" onmouseup="onMouseup()">
          <h1 style="font-size: 2rem; color: black;">Profile</h1>
        </a>
      </div>
    </nav>
  </div>
  <hr />

  <section id="HTML">
    <div class="HTML-container">
      <h1>
        Welcome to the HTML Tutorial
        <img width="50" height="50" src="https://img.icons8.com/ios/50/html-5--v2.png" alt="html-5--v2" />
      </h1>
      <p>Let's start this Tutorial with Gracefully</p>
      <div class="HTML-a-c">
        <div class="html-a-lc">
          <div class="first-html-c">
            <h2>HTML Overview</h2>
            <br /><a href="/index">1. Introduction of HTML</a>
            <br /><a href="/next1">2. HTML Document Structure</a>
            <br /><a href="/next2">3. Page Structure of HTML</a>
            <br /><a href="/next3">4. Work in the Browser</a>
            <br /><a href="/next4">5. Using Editors</a>
            <br /><a href="/next5">6.Introduction of HTML Tags, Elements and Attributes</a>
            <br /><a href="/next5">6.1 Explanation about HTML Tags</a>
            <br /> <a href="/next50">&rArr; Basic Tags of HTML</a>
            <br /><a href="/next51">&rArr; Phrase Tags</a>
            <br /><a href="/next52">&rArr; HTML Formatting Tags</a>
            <br /><a href="/next6">6.2 Explanation about HTML Elements</a>
            <br /><a href="/next7">6.3 Explanation about HTML Attributes</a>
          </div>
          <div class="second-html-c"></div>
          <div class="thired-html-c"></div>
          <div class="forth-html-c"></div>
        </div>

        <div id="ide">
          <div class="ide-p">
            <p>Try with copy the code &#8611;</p>
          </div>
          <div class="ide">
            <div class="ide-c">
              <a href="https://onecompiler.com/html"><img width="100" height="100" src="https://img.icons8.com/carbon-copy/100/source-code.png"
                alt="source-code" /></a>
            </div>
          </div>
        </div>

        <div id="struc" class="html-a-rc">



          <h3>Explanation about html Attributes</h3>
          <div class="all-explore">

            <h4>&rarr; What is the html Attributes? Why we use it.</h4>
            <div class="explore">
              <p>An HTML attribute is a piece of markup language used to adjust the behavior or display of an HTML element. An attribute is used to define the characteristics of an HTML element and is placed inside the
                element's opening tag. All attributes are made up of two parts: a name and a value:</p>
              <p>&rarr; The name is the property you want to set. For example, the paragraph &lt;h1&gt; element
                in the example carries an attribute whose name is align, which you can use to indicate
                the alignment of paragraph on the page.
                </p>
              <p>&rarr; The value is what you want the value of the property to be set and always put within
                quotations. The below example shows three possible values of align attribute: left,
                center and right.</p>
              <p>HTML attributes generally appear as name-value pairs, separated by =, and are written within the start tag of an element, after the element's name:</p>
              
            </div>

            <div class="explore">
              <p>&rarr; Let's understanding the concept of Attributes that actually how does it work?</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                <p style="color: rgb(155, 155, 155);">&lt;!-- Welcome to html Tutorial --&gt;</p>
<br>
                <p style="color: rgb(190, 190, 190);">&lt;!DOCTYPE html&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;html&lt;html lang="en"&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;head&gt;</p>
                    <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta charset="UTF-8"&gt;</p>
                    <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</p>
                    <p style="color: rgb(190, 190, 190);">&lt;title&gt;Nested Elements&lt;/title&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/head&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;h1 align="left"&gt;The content of this tag left will be assigned.&lt;/h1&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;h1 align="center"&gt;The content of this tag center will be assigned.&lt;/h1&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;h1 align="right"&gt;The content of this tag right will be assigned.&lt;/h1&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/html&gt;</p>
              </div>
              <p>Where element names the HTML element type, and attribute is the name of the attribute, set to the provided value. The value may be enclosed in single or double quotes.</p>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (197).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">
            </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
    </div>

    <div class="previous-next-b">
      <a href="/next6"><button class="btn" onclick="previous()">&larr;Previous</button></a>
      <a href="/next8"><button class="btn" onclick="next()">Next&rarr;</button></a>
    </div>

  </section>

</body>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>


  // Searchicon creation

  const search = document.querySelector(".searchi");
  const searchi = document.querySelector(".scinput");

  search.sonclick = function () {
    searchi.classList.toggle("sinput");
  };

  // darkmode icon creation

  var darki = document.getElementById("darki");

  darki.ionclick = function () {
    document.body.classList.toggle("dark-theme");
  };

  //create previous or next button 

  var visibleDiv = 0;
  function showDive() {
    $("-a-rc").hide();
    $("-a-rc:eq(" + visibleDiv + ")").show();
  }
  showDive()
  function next() {
    if (visibleDiv == $("-a-rc").length - 1) {
      visibleDiv = 0;
    }
    else {
      visibleDiv++;
    }
    showDive();
  }
  function previous() {
    if (visibleDiv == 0) {
      visibleDiv = $("-a-rc").length - 1;
    }
    else {
      visibleDiv--;
    }
    showDive();
  }

</script>

</html>