<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodingAngryheart</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
  </head>
  <body>
    <div id="navbar">
      <nav class="navbar-container">
        <div class="hamburger" onclick="hamclick()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="left-n-c">
          <h1>CodingAngryheart</h1>
        </div>
        <div class="nav-links-c">
          <ul class="nav-a-links">
            <li class="s-link">
              <a href="/index"
                ><img
                  width="50"
                  height="50"
                  src="https://img.icons8.com/ios-filled/50/home.png"
                  alt="home"
                  /></a>
            </li>
            <li class="s-link"><a href="/index">HTML</li></a>
          <li class="s-link"><a href="/indexcss">CSS</li></a>
          <li class="s-link"><a href="/indexjs">JavaScript</li></a>
            <li class="s-link"><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="right-n-c">
          <input class="scinput" type="text" placeholder="search here..." />
          <img
            class="searchi"
            width="30"
            height="30"
            src="https://img.icons8.com/ios-glyphs/30/search--v1.png"
            alt="search--v1"
            onclick="sonclick()"
          />
          <img
            id="darki"
            width="64"
            height="64"
            src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/external-night-halloween-bearicons-glyph-bearicons.png"
            alt="external-night-halloween-bearicons-glyph-bearicons"
            onclick="ionclick()"
          />
          <a href="/signcookie" class="plink" style="text-decoration: none;" onmousedown="onMousedown()" onmouseup="onMouseup()">
            <h1 style="font-size: 2rem; color: black;">Profile</h1>
          </a>
        </div>
      </nav>
    </div>
    <hr />

    <section id="HTML">
        <div class="HTML-container">
          <h1>
            Welcome to the HTML Tutorial
            <img
            width="50"
              height="50"
              src="https://img.icons8.com/ios/50/html-5--v2.png"
              alt="html-5--v2"
            />
          </h1>
          <p>Let's start this Tutorial with Gracefully</p>
          <div class="HTML-a-c">
            <div class="html-a-lc">
              <div class="first-html-c">
                <h2>HTML Overview</h2>
                <br /><a href="/index">1. Introduction of HTML</a> 
                <br /><a href="/next1">2. HTML Document Structure</a>
                  <br /><a href="/next2">3. Page Structure of HTML</a>
                  <br /><a href="/next3">4. Work in the Browser</a> 
                  <br /><a href="/next4">5. Using Editors</a>
                  <br /><a href="/next5">6.Introduction of HTML Tags, Elements and Attributes</a>
                  <br /><a href="/next5">6.1 Explanation about HTML Tags</a>
                  <br /> <a href="/next50">&rArr; Basic Tags of HTML</a>
                  <br /><a href="/next51">&rArr; Phrase Tags</a>
                  <br /><a href="/next52">&rArr; HTML Formatting Tags</a>
                  <br /><a href="/next6">6.2 Explanation about HTML Elements</a>
            <br /><a href="/next7">6.3 Explanation about HTML Attributes</a>
              </div>
              <div class="second-html-c"></div>
              <div class="thired-html-c"></div>
              <div class="forth-html-c"></div>
              </div>
  
              <div id="ide">
                <div class="ide-p">
                  <p>Try with copy the code &#8611;</p>
                </div>
                <div class="ide">
                  <div class="ide-c">
                    <a href="https://onecompiler.com/html"><img width="100" height="100" src="https://img.icons8.com/carbon-copy/100/source-code.png"
                      alt="source-code" /></a>
                  </div>
                </div>
              </div>

            <div id="struc" class="html-a-rc">
              

              
              <h3>HTML Formatting Tags</h3>
              <p style="font-size: 2rem; margin: 2rem 2rem;">&rarr; HTML formatting is a process by which we style our content to make it more informative and attractive by using different types of HTML formatting tags. Through text formatting tags in HTML, we can make our content more attractive. <br> &rarr; We use HTML formatting tags to tell the browser how our content should be displayed. <br> &rarr; HTML formatting allows us to style our text in various ways.</p>


             <div class="all-explore">

              <div class="basic-container">
                <div class="top-b-c">
                  <h1>Tags</h1>
                  <h2>About</h2>
                </div>
                <div class="f-s-container">
                  <div class="first-b-c">
                    <p>&lt;b&gt;...&lt;/b&gt;</p>
                    <p>&lt;i&gt;...&lt;/i&gt;</p>
                    <p>&lt;u&gt;...&lt;/u&gt;</p>
                    <p>&lt;strike&gt;...&lt;/strike&gt;</p>
                    <br>
                    <p>&lt;tt&gt;...&lt;/tt&gt;</p>
                    <p>&lt;sup&gt;...&lt;/sup&gt;</p>
                    <br>
                    <p>&lt;sub&gt;...&lt;/sub&gt;</p>
                    <br>
                    <p>&lt;ins&gt;...&lt;/ins&gt;</p>
                    <br>
                    <p>&lt;del&gt;...&lt;/del&gt;</p>
                    <br>
                    <p>&lt;big&gt;...&lt;/big&gt;</p>
                    <br>
                    <p>&lt;small&gt;...&lt;/small&gt;</p>
                    <p>&lt;div&gt;...&lt;/div&gt;</p>
                    <p>&lt;span&gt;...&lt;/span&gt;</p>
                  </div>
                  <div class="second-b-c">
                    <p>The word or text that written inside within &lt;b&gt; tag, is displayed in bold.</p>
                    <p>The word or text that written inside within &lt;i&gt; tag, is displayed in italic.</p>
                    <p>The word or text that written inside within &lt;u&gt; tag, is displayed with underline.</p>
                    <p>The word or text that written inside within &lt;u&gt; tag, is displayed with strikethrough. which is a thin line through the text.</p>
                    <p style="margin-top: 0.5rem;">The content of a &lt;tt&gt; tag is written in monospaced font.</p>
                    <p style="margin-top: 0.5rem;">The content of a &lt;sup&gt; tag is written in superscript. Subscript text can be used for chemical formulas, like H2O.</p>
                    <p style="margin-top: 0.5rem;">The &lt;sub&gt; tag defines superscript text. Superscript text appears half a character above the normal line, and is sometimes rendered in a smaller font.</p>
                    <p style="margin-top: 0.5rem;">The &lt;ins&gt; tag defines a text that has been inserted into a document. Browsers will usually underline inserted text.</p>
                    <p style="margin-top: 0.2rem;">The &lt;del&gt; tag in HTML stands for delete and is used to mark a portion of text which has been deleted from the document.</p>
                    <p style="margin-top: 0.5rem;">HTML &lt;big&gt; tag was used to increase the text font size one level bigger than the document's base font size.</p>
                    <p style="margin-top: 0.8rem;">The &lt;small&gt; tag in HTML is used to set small and decreases the font size.</p>
                    <p style="margin-top: 0.4rem;">The &lt;div&gt; tag defines a division or a section in an HTML document.</p>
                    <p style="margin-top: 0.3rem;">The &lt;span&gt; tag is an inline container used to mark up a part of a text, or a part of a document. </p>
          
                  </div>
                </div>
              </div> 

               <div class="explore">
                <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let me try to explain you all these Phrase tags through a HTML code, so let we start;</p>

                <h4>&rarr; Bold Text</h4>
                <p>The &lt;b&gt; tags are used in html to make a piece of text visually bold in HTML. We can say any texts or words that appears within &lt;b&gt;...&lt;/b&gt; tag, is displayed in bold. Let see through a html code;</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                <p style="color: rgb(155, 155, 155);">&lt;!-- Welcome to html Tutorial --&gt;</p>
<br>
                <p style="color: rgb(190, 190, 190);">&lt;!DOCTYPE html&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;html&lt;html lang="en"&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;head&gt;</p>
                    <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta charset="UTF-8"&gt;</p>
                    <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</p>
                    <p style="color: rgb(190, 190, 190);">&lt;title&gt;Heading Tag&lt;/title&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/head&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;This is a paragraph tag that contains "&lt;b&gt;" tag &lt;b&gt; inside itself to &lt;/b&gt; show of this property.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/html&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (178).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


                <h4>&rarr; Italic Text</h4>
                <p>The &lt;i&gt; tag in HTML is used to display the content in italic style. This tag is generally used to display the technical term, phrase, the important word in a different language.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;This is a paragraph tag that contains "&lt;i&gt;" tag &lt;i&gt; inside itself to &lt;/i&gt; show of this property.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (179).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Underlined Text</h4>
                <p>The &lt;u&gt; tag in HTML languages stands for underline, and it's used to underline the text enclosed within the &lt;u&gt; tag.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;This is a paragraph tag that contains "&lt;u&gt;" tag &lt;u&gt; inside itself to &lt;/u&gt; show of this property.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (181).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Strike Text</h4>
                <p>The &lt;strike&gt; tag defines a strike or line through Text. This tag creates a cut line in the text. The &lt;strike&gt; HTML tag places a horizontal line over text.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;This is a paragraph tag that contains "&lt;strike&gt;" tag &lt;strike&gt; inside itself to &lt;/strike&gt; show of this property.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (182).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Monospaced Font</h4>
                <p>The &lt;tt&gt; tag creates an inline text which is displayed in monospace or fixed-width font as it would appear on a teletype or typewriter.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;This is a paragraph tag that contains "&lt;tt&gt;" tag &lt;tt&gt; inside itself to &lt;/tt&gt; show of this property.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (183).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Supperscript Text</h4>
                <p>The &lt;sup&gt; tag is used to define a superscript text, which appears half a character above the regular line and is rendered smaller than the rest of the text. The tag is commonly used to define footnotes and formulas.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt; Mathematical formula &rarr; (a+b)&lt;sup&gt;2&lt;/sup&gt; = a&lt;sup&gt;2&lt;/sup&gt;+b&lt;sup&gt;2&lt;/sup&gt;+2ab&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt; Formula of the water in chemistry is &rarr; H&lt;sup&gt;2&lt;/sup&gt;o&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (184).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Subscript Text</h4>
                <p>The HTML &lt;sub&gt; tag defines subscript text in an HTML document. For example, in the chemical formula CO2, the number 2 has rendered in inline format that must have rendered in lowerd baseline with smaller font. as subscript which has a smaller font and appears with a lowered baseline.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt; log formula with base e, in mathematics - log&lt;sub&gt;e&lt;/sub&gt;mn = log&lt;sub&gt;e&lt;/sub&gt;m + log&lt;sub&gt;e&lt;/sub&gt;n&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt; Formula of the water in chemistry is &rarr; Fe&lt;sub&3&lt;/sub&gt;Al&lt;sub&2&lt;/sub&gt;Si&lt;sub&3&lt;/sub&gt;O&lt;sub&12&lt;/sub&gt;&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (185).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Inserted Text</h4>
                <p>The &lt;ins&gt; tag defines a text that has been inserted into a document. Browsers will usually underline inserted text.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt; The Tajmahal that is created by &lt;ins&gt;Mughal Emperor Shah Jahan&lt;/ins&gt; in memory of his wife Mumtaz Mahal.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (186).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Deleted Text</h4>
                <p>The &lt;del&gt; tag defines text that has been deleted from a document. Browsers will usually strike a line through deleted text.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt; The Tajmahal that is &lt;del&gt;not&lt;/del&gt; created by Mughal Emperor Shah Jahan in memory of his wife Mumtaz Mahal.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>

              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (187).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Larger Text</h4>
                <p>The &lt;big&gt; tag in HTML is used to increase the selected text size by one larger than the surrounding text.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt; My height is the &lt;big&gt; highest &lt;/big&gt; in all these texts as you can see my friend!&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                  
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (188).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Smaller Text</h4>
                <p>The content of the &lt;small&gt;...&lt;/small&gt; element is displayed one font size smaller than the rest of the text surrounding it.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt; The HTML "&lt;small&gt;" tag &lt;small&gt; reduces the font size &lt;/small&gt; of the text in the page by a unit.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                  
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (189).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Division tag.</h4>
                <p>&lt;div&gt; is a block-level element that creates a line break to make separate containers or boxes within a page or document.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;div&gt; The &lt;div&gt; tag defines a division or a section in an HTML document. The &lt;div&gt; tag is used as a container for HTML elements - which is then styled with CSS or manipulated with JavaScript. The &lt;div&gt; tag is easily styled by using the class or id attribute.&lt;/div&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                  
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (190).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; span tag.</h4>
                <p>The &lt;span&gt; tag is an inline container used to mark up a part of a text, or a part of a document. The &lt;span&gt; tag is easily styled by CSS or manipulated with JavaScript using the class or id attribute.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt; This is the example of &lt;span style="color:gray"&gt;tag&lt;/span&gt; and the &lt;span style="color:aqua"&gt;span tag&lt;/span&gt; along with CSS&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                  
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (191).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


               </div>

              </div>
                
              </div>

              </div>
             </div>
           </div>
  
          </div>
        </div>
      </div>
  
        <div class="previous-next-b">
          <a href="/next51"><button class="btn" onclick="previous()">&larr;Previous</button></a>
          <a href="/next6"><button class="btn" onclick="next()">Next&rarr;</button></a>
        </div>
  
      </section>

    </body>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>

      
      // Searchicon creation
      
      const search = document.querySelector(".searchi");
      const searchi = document.querySelector(".scinput");
      
      search.sonclick = function () {
        searchi.classList.toggle("sinput");
      };
      
      // darkmode icon creation
  
      var darki = document.getElementById("darki");
  
      darki.ionclick = function () {
        document.body.classList.toggle("dark-theme");
      };
  
      //create previous or next button 
  
      var visibleDiv = 0;
      function showDive(){
        $("-a-rc").hide();
        $("-a-rc:eq("+ visibleDiv +")").show();
      }
      showDive()
      function next(){
        if(visibleDiv== $("-a-rc").length-1){
          visibleDiv = 0;
        }
        else{
          visibleDiv ++;
        }
        showDive();
      }
      function previous(){
        if(visibleDiv== 0){
          visibleDiv= $("-a-rc").length-1;
        }
        else{
          visibleDiv --;
        }
        showDive();
      }
  
    </script>
  </html>