<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodingAngryheart</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
  </head>
  <body>
    <div id="navbar">
      <nav class="navbar-container">
        <div class="hamburger" onclick="hamclick()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="left-n-c">
          <h1>CodingAngryheart</h1>
        </div>
        <div class="nav-links-c">
          <ul class="nav-a-links">
            <li class="s-link">
              <a href="/index"
                ><img
                  width="50"
                  height="50"
                  src="https://img.icons8.com/ios-filled/50/home.png"
                  alt="home"
                  /></a>
            </li>
            <li class="s-link"><a href="/index">HTML</li></a>
          <li class="s-link"><a href="/indexcss">CSS</li></a>
          <li class="s-link"><a href="/indexjs">JavaScript</li></a>
            <li class="s-link"><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="right-n-c">
          <input class="scinput" type="text" placeholder="search here..." />
          <img
            class="searchi"
            width="30"
            height="30"
            src="https://img.icons8.com/ios-glyphs/30/search--v1.png"
            alt="search--v1"
            onclick="sonclick()"
          />
          <img
            id="darki"
            width="64"
            height="64"
            src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/external-night-halloween-bearicons-glyph-bearicons.png"
            alt="external-night-halloween-bearicons-glyph-bearicons"
            onclick="ionclick()"
          />
          <a href="/signcookie" class="plink" style="text-decoration: none;" onmousedown="onMousedown()" onmouseup="onMouseup()">
            <h1 style="font-size: 2rem; color: black;">Profile</h1>
          </a>
        </div>
      </nav>
    </div>
    <hr />

    <section id="HTML">
        <div class="HTML-container">
          <h1>
            Welcome to the HTML Tutorial
            <img
            width="50"
              height="50"
              src="https://img.icons8.com/ios/50/html-5--v2.png"
              alt="html-5--v2"
            />
          </h1>
          <p>Let's start this Tutorial with Gracefully</p>
          <div class="HTML-a-c">
            <div class="html-a-lc">
              <div class="first-html-c">
                <h2>HTML Overview</h2>
                <br /><a href="/index">1. Introduction of HTML</a> 
                <br /><a href="/next1">2. HTML Document Structure</a>
                  <br /><a href="/next2">3. Page Structure of HTML</a>
                  <br /><a href="/next3">4. Work in the Browser</a> 
                  <br /><a href="/next4">5. Using Editors</a>
                  <br /><a href="/next5">6.Introduction of HTML Tags, Elements and Attributes</a>
                  <br /><a href="/next5">6.1 Explanation about HTML Tags</a>
                  <br /> <a href="/next50">&rArr; Basic Tags of HTML</a>
                  <br /><a href="/next51">&rArr; Phrase Tags</a>
                  <br /><a href="/next52">&rArr; HTML Formatting Tags</a>
                  <br /><a href="/next6">6.2 Explanation about HTML Elements</a>
            <br /><a href="/next7">6.3 Explanation about HTML Attributes</a>
              </div>
              <div class="second-html-c"></div>
              <div class="thired-html-c"></div>
              <div class="forth-html-c"></div>
              </div>
  
              <div id="ide">
                <div class="ide-p">
                  <p>Try with copy the code &#8611;</p>
                </div>
                <div class="ide">
                  <div class="ide-c">
                    <a href="https://onecompiler.com/html"><img width="100" height="100" src="https://img.icons8.com/carbon-copy/100/source-code.png"
                      alt="source-code" /></a>
                  </div>
                </div>
              </div>
              
            <div id="struc" class="html-a-rc">
              

              
              <h3>Phrase Tags</h3>
              <p style="font-size: 2rem; margin: 2rem 2rem;">&rarr; The phrase tags have been desicolgned for specific purposes, though they are displayed in a
                similar way as other basic tags like &lt;b&gt;, &lt;i&gt;, &lt;pre&gt;, and &lt;tt&gt;, that you will see in other chapter ahead. <br>&rarr; This chapter will take you through all the important phrase tags, so let's start seeing
                them one by one.</p>
             <div class="all-explore">

              <div class="basic-container">
                <div class="top-b-c">
                  <h1>Tags</h1>
                  <h2>About</h2>
                </div>
                <div class="f-s-container">
                  <div class="first-b-c">
                    <p>&lt;em&gt;...&lt;/em&gt;</p>
                    <br>
                    <p>&lt;mark&gt;...&lt;/mark&gt;</p>
                    <br>
                    <p>&lt;strong&gt;...&lt;/strong&gt;</p>
                    <br>
                    <p>&lt;blockquote&gt;...&lt;/blockquote&gt;</p>
                    <p>&lt;cite&gt;...&lt;/cite&gt;</p>
                    <br>
                    <p>&lt;code&gt;...&lt;/code&gt;</p>
                    <br>
                    <p>&lt;var&gt;...&lt;/var&gt;</p>
                    <br>
                    <p>&lt;address&gt;...&lt;/address&gt;</p>
                  </div>
                  <div class="second-b-c">
                    <p>Every words and paragraph that appears within &lt;em&gt;...&lt;/em&gt; element is displayed as emphasized text. The content inside is typically displayed in italic.
                    </p>
                    <p style="margin-top: 0.5rem;">Every words and paragraph that appears with-in &lt;mark&gt;...&lt;/mark&gt; element, is displayed as marked with
                      yellow ink.
                      </p>
                    <p style="margin-top: 0.5rem;">Every words and paragraph that appears within &lt;strong&gt;...&lt;/strong&gt; element is displayed as important text.</p>
                    <p style="margin-top: 0.5rem;">When you want to quote a passage from another source, you should put it in
                      between &lt;blockquote&gt;...&lt;/blockquote&gt; tags</p>
                    <p style="margin-top: 0.5rem;"> The Citation element. The &lt;cite&gt; HTML element is used to mark up the title of a cited creative work. </p>
                    <p style="margin-top: 0.5rem;">The &lt;code&gt; tag is used to define a piece of computer code. The content inside is displayed in the browser's default monospace font.</p>
                    <p style="margin-top: 0.5rem;">The &lt;var&gt; tag is used to defines a variable in programming or in a mathematical expression. The content inside is typically displayed in italic.</p>
                    <p style="margin-top: 0.5rem;">The &lt;address&gt; tag in HTML indicates the contact information of a person or an organization.</p>
          
                  </div>
                </div>
              </div> 
               <div class="explore">
                <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let me try to explain you all these Phrase tags through a HTML code, so let we start;</p>

                <h4>&rarr; Emphasized Text</h4>
                <p>The &lt;em&gt; element is for words that have a stressed emphasis compared to surrounding text, which is often limited to a word or words of a sentence and affects the meaning of the sentence itself. Typically this element is displayed in italic type.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                <p style="color: rgb(155, 155, 155);">&lt;!-- Welcome to html Tutorial --&gt;</p>
<br>
                <p style="color: rgb(190, 190, 190);">&lt;!DOCTYPE html&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;html&lt;html lang="en"&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;head&gt;</p>
                    <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta charset="UTF-8"&gt;</p>
                    <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</p>
                    <p style="color: rgb(190, 190, 190);">&lt;title&gt;Heading Tag&lt;/title&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;/head&gt;</p>
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;This is a paragraph tag that contains "&lt;em&gt;" tag &lt;em&gt; inside itself to &lt;/em&gt; show the property of this tag.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/html&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (167).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Marked Text</h4>
                <p>The &lt;mark&gt; tag is used in HTML to highlight relevant text within the HTML page. By default, browsers display text within the &lt;mark&gt; tag as black with a yellow background. This results in the following output on the browser: This text is very important.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;The following word that written inside the "&lt;mark&gt;" tag has been &lt;mark&gt;marked&lt;/mark&gt; with yellow&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (168).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Strong Text</h4>
                <p>To bold the text in HTML, you can use either the &lt;strong&gt; tag or the &lt;b&gt; (bold) tag. Browsers will bold the text inside both of these tags the same way, but the &lt;strong&gt; tag indicates that the text is of particular importance. </p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;To bold the text in &lt;strong&gt;HTML Code&lt;/strong&gt;, you can &lt;b&gt;use either&lt;/b&gt; the "&lt;strong&gt;" tag or the "&lt;b&gt;" (bold) tag.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (169).png" alt="output" style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Quoting Text</h4>
                <p>The &lt;blockquote&gt; tag is used for direct quotations that are longer than four lines of prose, or longer than three lines of poetry. A block quote is always used when quoting dialogue between characters, as in a play. The block format is a freestanding quote that does not include quotation marks.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                
                <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;h1&gt;Quoting Text&lt;/h1&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;HTML "&lt;blockquote&gt;" tag is used to define a block of text which is quoted from another source. The Browser usually displays the content within "&lt;blockquote&gt;" tag as indented text.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;h1&gt;Quoting Text&lt;/h1&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;blockquote&gt;HTML "&lt;blockquote&gt;" tag is used to define a block of text which is quoted from another source. The Browser usually displays the content within "&lt;blockquote&gt;" tag as indented text.&lt;/blockquote&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (170).png" alt="output" style="margin:2rem 0rem; width: 119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Text Citations</h4>
                <p>The &lt;cite&gt; tag defines the title of a creative work for e.g. a book, a poem, a song, a movie, a painting, a sculpture, etc. A person's name is not the title of a work. The text in the &lt;cite&gt; element usually renders in italic.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
              <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;The "&lt;cite&gt;" attribute specifies a &lt;cite&gt;URL to a document&lt;/cite&gt; that explains the quote, or why the text was inserted/changed.&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (173).png" alt="output" style="margin:2rem 0rem; width: 119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Computer Code</h4>
                <p>The &lt;code&gt; tag is used to define a piece of computer code. The content inside is displayed in the browser's default monospace font. Any programming code to appear on a Web page should be placed inside &lt;code&gt;...&lt;/code&gt;tags.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
              <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;HTML "&lt;code&gt;" tag is used to represent &lt;code&gt;computer code.&lt;/code&gt; It is a phrase tag which defines &lt;code&gt;a piece of computer code.&lt;/code&gt;&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (175).png" alt="output" style="margin:2rem 0rem; width: 119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Programming Variables</h4>
                <p>This element is usually used in conjunction with the &lt;pre&gt; and &lt;code&gt; elements to indicate that the content of that element is a variable.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
              <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;p&gt;&lt;code&gt;document.write("&lt;var&gt;user-name&lt;/var&gt;")&lt;/code&gt;&lt;/p&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (176).png" alt="output" style="margin:2rem 0rem; width: 119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">


              <h4>&rarr; Address Text</h4>
                <p>The &lt;address&gt; tag in HTML indicates the contact information of a person or an organization. If &lt;address&gt; tag is used inside the &lt;body&gt; tag then it represents the contact information of the document and if the &lt;address&gt; tag is used inside the &lt;address&gt; tag, then it represents the contact information of the article.</p>
                <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
              <p style="color: rgb(190, 190, 190);">&lt;body&gt;</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">&lt;address&gt;Cecilia Chapman 711-2880 Nulla St. Mankato Mississippi 96522&lt;/address&gt;</p>
                  <p style="color: rgb(190, 190, 190);">&lt;/body&gt;</p>
              </div>
              <p style="margin: 1rem 0rem; font-size: 2.2rem;">Let see output of this entire code through live server on the brwser;</p>
              <img src="Screenshot (177).png" alt="output" style="margin:2rem 0rem; width: 119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">

               </div>
              </div>

                
              </div>

              </div>
             </div>
           </div>
  
          </div>
        </div>
      </div>
  
        <div class="previous-next-b">
          <a href="/next50"><button class="btn" onclick="previous()">&larr;Previous</button></a>
          <a href="/next52"><button class="btn" onclick="next()">Next&rarr;</button></a>
        </div>
  
      </section>

    </body>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>

      
      // Searchicon creation
      
      const search = document.querySelector(".searchi");
      const searchi = document.querySelector(".scinput");
      
      search.sonclick = function () {
        searchi.classList.toggle("sinput");
      };
      
      // darkmode icon creation
  
      var darki = document.getElementById("darki");
  
      darki.ionclick = function () {
        document.body.classList.toggle("dark-theme");
      };
  
      //create previous or next button 
  
      var visibleDiv = 0;
      function showDive(){
        $("-a-rc").hide();
        $("-a-rc:eq("+ visibleDiv +")").show();
      }
      showDive()
      function next(){
        if(visibleDiv== $("-a-rc").length-1){
          visibleDiv = 0;
        }
        else{
          visibleDiv ++;
        }
        showDive();
      }
      function previous(){
        if(visibleDiv== 0){
          visibleDiv= $("-a-rc").length-1;
        }
        else{
          visibleDiv --;
        }
        showDive();
      }
  
    </script>
  </html>