<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CodingAngryheart</title>
  <link rel="stylesheet" href="/indexcss.css" />
  <link href="/next1">
</head>

<body>
  <div id="navbar">
    <nav class="navbar-container">
      <div class="hamburger" onclick="hamclick()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="left-n-c">
        <h1>CodingAngryheart</h1>
      </div>
      <div class="nav-links-c">
        <ul class="nav-a-links">
          <li class="s-link">
            <a href="/indexcss"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/home.png"
                alt="home" /></a>
          </li>
          <li class="s-link"><a href="/index">HTML</li></a>
          <li class="s-link"><a href="/indexcss">CSS</li></a>
          <li class="s-link"><a href="/indexjs">JavaScript</li></a>
          <li class="s-link"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="right-n-c">
        <input class="scinput" type="text" placeholder="search here..." />
        <img class="searchi" width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/search--v1.png"
          alt="search--v1" onclick="sonclick()" />
        <img id="darki" width="64" height="64"
          src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/external-night-halloween-bearicons-glyph-bearicons.png"
          alt="external-night-halloween-bearicons-glyph-bearicons" onclick="ionclick()" />
        <a href="/signup"><button id="sn-btn">Signup</button></a>
      </div>
    </nav>
  </div>
  <hr />
  <section id="HTML">
    <div class="HTML-container">
      <h1>
        Welcome to the CSS Tutorial
        <img width="50" height="50" src="https://img.icons8.com/ios/50/css3.png" alt="css3" />
      </h1>
      <p>Let's start this Tutorial with Gracefully</p>
      <div class="HTML-a-c">
        <div class="html-a-lc">
          <div class="first-html-c">
            <h2>CSS Overview</h2>
            <br /><a href="/indexcss">1. Introduction</a>
            <br /><a href="/nextcss1">2. CSS Syntax</a>
            <br /><a href="/nextcss2">3. CSS- Measurement Units</a>
            <br /><a href="/nextcss3">4. CSS - Properties</a>
            <br /><a href="/nextcss31">&rArr; CSS Color Property</a>
            <br /><a href="/nextcss32">&rArr; CSS Background Property</a>
            <br /><a href="/nextcss32(1)">i. CSS Background Color</a>
            <br /><a href="/nextcss32(2)">ii. CSS Background Image</a>
            <br /><a href="/nextcss32(3)">iii. CSS Background Size</a>
            <br /><a href="/nextcss32(4)">iv. CSS Background Clip</a>
            <br /><a href="/nextcss32(5)">v. CSS Background Position</a>
            <br /><a href="/nextcss32(6)">vi. CSS Background Attachment</a>
            <br /><a href="/nextcss33">&rArr; CSS Padding Property</a>
            <br /><a href="/nextcss34">&rArr; CSS Margin Property</a>
            <br /><a href="/nextcss35">&rArr; CSS Height/width Property</a>
            <br /><a href="/nextcss36">&rArr; CSS Border Property</a>
            <br /><a href="/nextcss36(1)">i. CSS Border Style</a>
            <br /><a href="/nextcss36(2)">ii. CSS Border Width</a>
            <br /><a href="/nextcss36(3)">iii. CSS Border Color</a>
            <br /><a href="/nextcss36(4)">iv. CSS Border Radius</a>
            <br /><a href="/nextcss37">&rArr; CSS Font Property</a>
            <br /><a href="/nextcss37(1)">i. CSS Font Size</a>
            <br /><a href="/nextcss37(2)">ii. CSS Font Weight</a>
            <br /><a href="/nextcss37(3)">iii. CSS Font Style</a>
            <br /><a href="/nextcss37(4)">iv. CSS Font Family</a>
            <br /><a href="/nextcss37(5)">v. CSS Font Variant</a>
            <br /><a href="/nextcss38">&rArr; CSS Text Property</a>
            <br /><a href="/nextcss38(1)">i. CSS Text Align</a>
            <br /><a href="/nextcss38(2)">ii. CSS Text Decoration</a>
            <br /><a href="/nextcss38(3)">iii. CSS Text Indent</a>
            <br /><a href="/nextcss38(4)">iv. CSS Text Shadow</a>
            <br /><a href="/nextcss38(5)">v. CSS Text Overflow</a>
            <br /><a href="/nextcss38(6)">vi. CSS Text Transform</a>
            <br /><a href="/nextcss39">&rArr; CSS Outline Property</a>
            <br /><a href="/nextcss40">&rArr; CSS Box-shadow Property</a>
            <br /><a href="/nextcss41">&rArr; CSS Drop-shadow Property</a>
          </div>
          <div class="second-html-c"></div>
          <div class="thired-html-c"></div>
          <div class="forth-html-c"></div>
        </div>

        <div id="ide">
          <div class="ide-p">
            <p>Try with copy the code &#8611;</p>
          </div>
          <div class="ide">
            <div class="ide-c">
              <a href="https://onecompiler.com/html"><img width="100" height="100" src="https://img.icons8.com/carbon-copy/100/source-code.png"
                alt="source-code" /></a>
            </div>
          </div>
        </div>

        <div id="intro" class="html-a-rc">


          <div class="all-explore">
            <h3>CSS- Measurement Units</h3>

            <h4>&rarr; What are Measurement Units in CSS?</h4>
            <div class="explore">
              <p style="margin-top: 1rem;">CSS supports a number of measurements including absolute units such as inches, centimeters, points, and so on, as well as relative measures such as percentages and em units. You need these values while specifying various measurements in your Style rules e.g. border = "1px solid red".</p>
              <div class="exp-con">
                <div class="t start-t">
                  <h1>Unit</h1>
                  <div class="sp">
                    <p>cm</p>
                    <p style="margin-top: 1.5rem;">%</p><br>
                    <p style="margin-top: 1.5rem;">ex</p><br><br><br>
                    <p style="margin-top: 2.4rem;">em</p><br><br><br>
                    <p style="margin-top: 4.9rem;">rem</p><br><br><br>
                    <p style="margin-top: 2.5rem;">vw</p><br><br><br>
                    <p style="margin-top: 2.5rem;">vh</p><br><br><br>
                    <p style="margin-top: 2.2rem;">in</p>
                    <p style="margin-top: 1rem;">mm</p>
                    <p style="margin-top: 1rem;">pc</p>
                  </div>
                </div>
                <div class="t content-t">
                  <h1>About</h1>
                  <div class="sp sp-c sp1">
                    <p>Defines a measurement in centimeters.</p>
                    <p>Defines a measurement as a percentage
                      relative to another value, typically an
                      enclosing element.</p>
                    <p>This value defines a measurement
                      relative to a font's x-height. The x-height
                      is determined by the height of the font's
                      lowercase letter x.</p>
                    <p>A relative measurement for the height of
                      a font in em spaces. Because an em unit
                      is equivalent to the size of a given font, if
                      you assign a font to 12pt, each "em" unit
                      would be 12pt; thus, 2em would be 24pt.</p>
                    <p>rem stands for root em, which is a measurement unit that refers to the font-size of the root element of a document. Relative to font-size of the root element</p>
                    <p>vw stands for Viewport Width and represents a percentage of the width of the viewport. Relative to 1% of the width of the viewport.</p>
                    <p>The full form of vh is viewport height. It works like the percentage unit as well. Specifying 10vh is equivalent to occupying 10% of entire visible screen height.</p>
                    <p>Defines a measurement in inches.</p>
                    <p>Defines a measurement in millimeters.</p>
                    <p>Defines a measurement in picas. A pica is
                      equivalent to 12 points; thus, there are 6
                      picas per inch.</p>
                  </div>
                </div>
                <div class="t end-t">
                  <h1>Example</h1>
                  <div class="sp">
                    <p>h1 {font-size: 3cm;} </p>
                    <p>body {height: 100%;} </p><br><br>
                    <p style="margin-top: 0.8rem;">h1 {font-size: 1ex;} </p><br><br><br>
                    <p style="margin-top: 2.5rem;">div {height: 4em;} </p><br><br><br>
                    <p style="margin-top: 4.8rem;">p {letter-spacing: 1rem;} </p><br><br><br>
                    <p style="margin-top: 2.5rem;">div {width: 10vw;} </p><br><br><br>
                    <p style="margin-top: 2.3rem;">div {height:10vh;} </p><br><br><br>
                    <p style="margin-top: 2.5rem;">span {font-size: 1in;} </p>
                    <p>p {font-size: 10mm;} </p>
                    <p>h1 {padding: 2pc} </p>
                  </div>
                </div>
              </div>
            </div>


            <!-- <div id="struc" class="html-a-rc">
            <h3>HTML Document Structure</h3>
           <div class="all-explore">
             <h4>&rarr; welcome here</h4>
           </div>
         </div> -->


          </div>


        </div>
      </div>

      <div class="previous-next-b">
        <a href="/nextcss1"><button class="btn">&larr;Previous</button></a>
        <a href="/nextcss3"><button class="btn">Next&rarr;</button></a>
      </div>

  </section>

  <script>
    // Searchicon creation

    const search = document.querySelector(".searchi");
    const searchi = document.querySelector(".scinput");

    search.sonclick = function () {
      searchi.classList.toggle("sinput");
    };

    // darkmode icon creation

    var darki = document.getElementById("darki");

    darki.ionclick = function () {
      document.body.classList.toggle("dark-theme");
    };

    //create previous or next button 

    var visibleDiv = 0;
    function showDive() {
      $("-a-rc").hide();
      $("-a-rc:eq(" + visibleDiv + ")").show();
    }
    showDive()
    function next() {
      if (visibleDiv == $("-a-rc").length - 1) {
        visibleDiv = 0;
      }
      else {
        visibleDiv++;
      }
      showDive();
    }
    function previous() {
      if (visibleDiv == 0) {
        visibleDiv = $("-a-rc").length - 1;
      }
      else {
        visibleDiv--;
      }
      showDive();
    }


    // hamburger creation 

    var hamb = document.querySelector(".hamburger");
    var ullists = document.querySelector(".nav-a-links");

    hamb.hamclick = function () {
      ullists.classList.toggle("ul1");
    }
  </script>
</body>


</html>