<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CodingAngryheart</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
</head>

<body>
  <div id="navbar">
    <nav class="navbar-container">
      <div class="hamburger" onclick="hamclick()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="left-n-c">
        <h1>CodingAngryheart</h1>
      </div>
      <div class="nav-links-c">
        <ul class="nav-a-links">
          <li class="s-link">
            <a href="/index"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/home.png"
                alt="home" /></a>
          </li>
          <li class="s-link"><a href="/index">HTML</li></a>
          <li class="s-link"><a href="/indexcss">CSS</li></a>
          <li class="s-link"><a href="/indexjs">JavaScript</li></a>
          <li class="s-link"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="right-n-c">
        <input class="scinput" type="text" placeholder="search here..." />
        <img class="searchi" width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/search--v1.png"
          alt="search--v1" onclick="sonclick()" />
        <img id="darki" width="64" height="64"
          src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/external-night-halloween-bearicons-glyph-bearicons.png"
          alt="external-night-halloween-bearicons-glyph-bearicons" onclick="ionclick()" />
        <a href="/signcookie" class="plink" style="text-decoration: none;" onmousedown="onMousedown()"
          onmouseup="onMouseup()">
          <h1 style="font-size: 2rem; color: black;">Profile</h1>
        </a>
      </div>
    </nav>
  </div>
  <hr />

  <section id="HTML">
    <div class="HTML-container">
      <h1>
        Welcome to the HTML Tutorial
        <img width="50" height="50" src="https://img.icons8.com/ios/50/html-5--v2.png" alt="html-5--v2" />
      </h1>
      <p>Let's start this Tutorial with Gracefully</p>
      <div class="HTML-a-c">
        <div class="html-a-lc">
          <div class="first-html-c">
            <h2>HTML Overview</h2>
            <br /><a href="/index">1. Introduction of HTML</a>
            <br /><a href="/next1">2. HTML Document Structure</a>
            <br /><a href="/next2">3. Page Structure of HTML</a>
            <br /><a href="/next3">4. Work in the Browser</a>
            <br /><a href="/next4">5. Using Editors</a>
            <br /><a href="/next5">6.Introduction of HTML Tags, Elements and Attributes</a>
            <br /><a href="/next5">6.1 Explanation about HTML Tags</a>
            <br /> <a href="/next50">&rArr; Basic Tags of HTML</a>
            <br /><a href="/next51">&rArr; Phrase Tags</a>
            <br /><a href="/next52">&rArr; HTML Formatting Tags</a>
            <br /><a href="/next6">6.2 Explanation about HTML Elements</a>
            <br /><a href="/next7">6.3 Explanation about HTML Attributes</a>
          </div>
          <div class="second-html-c"></div>
          <div class="thired-html-c"></div>
          <div class="forth-html-c"></div>
        </div>

        <div id="ide">
          <div class="ide-p">
            <p>Try with copy the code &#8611;</p>
          </div>
          <div class="ide">
            <div class="ide-c">
              <a href="https://onecompiler.com/html"><img width="100" height="100"
                  src="https://img.icons8.com/carbon-copy/100/source-code.png" alt="source-code" /></a>
            </div>
          </div>
        </div>

        <div id="struc" class="html-a-rc">



          <h3>Page Structure of HTML</h3>
          <div class="all-explore">
            <h4>Let's a look of basic page structure of HTML, below;</h4>
            <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
              <p style="font-size: 1.7rem; color: darkgray;">&lt;!DOCTYPE html&gt;</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;html lang="en"&gt;</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;head&gt;</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;title&gt;</p>
              <p style="font-size: 1.7rem; margin: 0rem 3rem; color: darkgray;">Hello world!</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;/title&gt;</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;/head&gt;</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;body&gt;</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;h1&gt;</p>
              <p style="font-size: 1.7rem; margin: 0rem 3rem; color: darkgray;">This is first heading of this document
              </p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;/h1&gt;</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;p&gt;</p>
              <p style="font-size: 1.7rem; margin: 0rem 3rem; color: darkgray;">This is first paragraph of this document
              </p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;/p&gt;</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;/body&gt;</p>
              <p style="font-size: 1.7rem; color: darkgray;">&lt;/html&gt;</p>
            </div>
            <div class="explore">
              <p>An HTML Document is mainly divided into two parts, the first of which head, this contains the
                information about the HTML document. For Example, the Title of the page, version of HTML, Meta Data,
                etc. The second of which body, this contains everything you want to display on the Web Page/Browser
                page.</p>
              <h4>Let's see a look in the image below that are received from html page code that are presented on the
                top, as you can see; </h4>
              <img src="pstructure.jpg" alt="page structre"
                style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">

              <h4>Let we understanding the concept of page structure of html document of that perticular tags or
                element;</h4>
              <img src="pstructure.png" alt="page structre"
                style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;">

              <h4>Is HTML The Structure of a web page?</h4>
              <p>Every web page is built from HTML tags, which look like this: &lt;tag&gt;content&lt;/tag&gt; Every HTML
                document begins and ends with the &lt;html&gt; tag. By the way, HTML stands for Hypertext Markup
                Language, the standard language for building web pages and apps.</p>

            </div>
          </div>
        </div>

      </div>
    </div>
    </div>

    <div class="previous-next-b">
      <a href="/next1"><button class="btn" onclick="previous()">&larr;Previous</button></a>
      <a href="/next3"><button class="btn" onclick="next()">Next&rarr;</button></a>
    </div>

  </section>

</body>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>


  // Searchicon creation

  const search = document.querySelector(".searchi");
  const searchi = document.querySelector(".scinput");

  search.sonclick = function () {
    searchi.classList.toggle("sinput");
  };

  // darkmode icon creation

  var darki = document.getElementById("darki");

  darki.ionclick = function () {
    document.body.classList.toggle("dark-theme");
  };

  //create previous or next button 

  var visibleDiv = 0;
  function showDive() {
    $("-a-rc").hide();
    $("-a-rc:eq(" + visibleDiv + ")").show();
  }
  showDive()
  function next() {
    if (visibleDiv == $("-a-rc").length - 1) {
      visibleDiv = 0;
    }
    else {
      visibleDiv++;
    }
    showDive();
  }
  function previous() {
    if (visibleDiv == 0) {
      visibleDiv = $("-a-rc").length - 1;
    }
    else {
      visibleDiv--;
    }
    showDive();
  }

</script>

</html>