<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CodingAngryheart</title>
  <link rel="stylesheet" href="/indexcss.css" />
  <link href="/next1">
</head>

<body>
  <div id="navbar">
    <nav class="navbar-container">
      <div class="hamburger" onclick="hamclick()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="left-n-c">
        <h1>CodingAngryheart</h1>
      </div>
      <div class="nav-links-c">
        <ul class="nav-a-links">
          <li class="s-link">
            <a href="/indexcss"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/home.png"
                alt="home" /></a>
          </li>
          <li class="s-link"><a href="/index">HTML</li></a>
          <li class="s-link"><a href="/indexcss">CSS</li></a>
          <li class="s-link"><a href="/indexjs">JavaScript</li></a>
          <li class="s-link"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="right-n-c">
        <input class="scinput" type="text" placeholder="search here..." />
        <img class="searchi" width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/search--v1.png"
          alt="search--v1" onclick="sonclick()" />
        <img id="darki" width="64" height="64"
          src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/external-night-halloween-bearicons-glyph-bearicons.png"
          alt="external-night-halloween-bearicons-glyph-bearicons" onclick="ionclick()" />
        <a href="/signup"><button id="sn-btn">Signup</button></a>
      </div>
    </nav>
  </div>
  <hr />
  <section id="HTML">
    <div class="HTML-container">
      <h1>
        Welcome to the CSS Tutorial
        <img width="50" height="50" src="https://img.icons8.com/ios/50/css3.png" alt="css3" />
      </h1>
      <p>Let's start this Tutorial with Gracefully</p>
      <div class="HTML-a-c">
        <div class="html-a-lc">
          <div class="first-html-c">
            <h2>CSS Overview</h2>
            <br /><a href="/indexcss">1. Introduction</a>
            <br /><a href="/nextcss1">2. CSS Syntax</a>
            <br /><a href="/nextcss2">3. CSS- Measurement Units</a>
            <br /><a href="/nextcss3">4. CSS - Properties</a>
            <br /><a href="/nextcss31">&rArr; CSS Color Property</a>
            <br /><a href="/nextcss32">&rArr; CSS Background Property</a>
            <br /><a href="/nextcss32(1)">i. CSS Background Color</a>
            <br /><a href="/nextcss32(2)">ii. CSS Background Image</a>
            <br /><a href="/nextcss32(3)">iii. CSS Background Size</a>
            <br /><a href="/nextcss32(4)">iv. CSS Background Clip</a>
            <br /><a href="/nextcss32(5)">v. CSS Background Position</a>
            <br /><a href="/nextcss32(6)">vi. CSS Background Attachment</a>
            <br /><a href="/nextcss33">&rArr; CSS Padding Property</a>
            <br /><a href="/nextcss34">&rArr; CSS Margin Property</a>
            <br /><a href="/nextcss35">&rArr; CSS Height/width Property</a>
            <br /><a href="/nextcss36">&rArr; CSS Border Property</a>
            <br /><a href="/nextcss36(1)">i. CSS Border Style</a>
            <br /><a href="/nextcss36(2)">ii. CSS Border Width</a>
            <br /><a href="/nextcss36(3)">iii. CSS Border Color</a>
            <br /><a href="/nextcss36(4)">iv. CSS Border Radius</a>
            <br /><a href="/nextcss37">&rArr; CSS Font Property</a>
            <br /><a href="/nextcss37(1)">i. CSS Font Size</a>
            <br /><a href="/nextcss37(2)">ii. CSS Font Weight</a>
            <br /><a href="/nextcss37(3)">iii. CSS Font Style</a>
            <br /><a href="/nextcss37(4)">iv. CSS Font Family</a>
            <br /><a href="/nextcss37(5)">v. CSS Font Variant</a>
            <br /><a href="/nextcss38">&rArr; CSS Text Property</a>
            <br /><a href="/nextcss38(1)">i. CSS Text Align</a>
            <br /><a href="/nextcss38(2)">ii. CSS Text Decoration</a>
            <br /><a href="/nextcss38(3)">iii. CSS Text Indent</a>
            <br /><a href="/nextcss38(4)">iv. CSS Text Shadow</a>
            <br /><a href="/nextcss38(5)">v. CSS Text Overflow</a>
            <br /><a href="/nextcss38(6)">vi. CSS Text Transform</a>
            <br /><a href="/nextcss39">&rArr; CSS Outline Property</a>
            <br /><a href="/nextcss40">&rArr; CSS Box-shadow Property</a>
            <br /><a href="/nextcss41">&rArr; CSS Drop-shadow Property</a>
          </div>
          <div class="second-html-c"></div>
          <div class="thired-html-c"></div>
          <div class="forth-html-c"></div>
        </div>

        <div id="ide">
          <div class="ide-p">
            <p>Try with copy the code &#8611;</p>
          </div>
          <div class="ide">
            <div class="ide-c">
              <a href="https://onecompiler.com/html"><img width="100" height="100" src="https://img.icons8.com/carbon-copy/100/source-code.png"
                alt="source-code" /></a>
            </div>
          </div>
        </div>

        <div id="intro" class="html-a-rc">


          <div class="all-explore">
            <h3>CSS Syntax</h3>

            <div class="explore">
              <p style="margin-top: 1rem;">A CSS comprises of style rules that are interpreted by the browser and then
                applied to the corresponding elements in your document.</p>
              <p>You can put CSS Style Rule Syntax as follows:</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">
                <p>selector { property: value }</p>
              </div>

            </div>
            <div class="explore">
              <h4>Here...</h4>
              <p>&#9658; <big><b>"A Selector"</b></big> is an HTML tag at which a style will be applied. This could be any
                tags like &lt;h1&gt;, &lt;p&gt;, &lt;table&gt; etc.
              </p>
              <p>&#9658; <big><b>"A Property"</b></big> is a type of attribute of HTML tag. Put simply, all the HTML
                attributes are converted into CSS properties. They could be color, background-color, margin, border, etc.
              </p>
              <p>&#9658; <big><b>"Values"</b></big> are assigned to properties. For example, color property can have the
                value either blue or #F1F1F1, and border property can have the value either 1px solid black or 3px dotted black etc.
                </p>
            </div>
            <div class="explore">
              <br>
              <p>You can define selectors in various simple ways based on your comfort. Let me put these selectors one by one.</p>
              <h4>&rarr; The Type Selector</h4>
              <p>The above selector is based on the type of the element: it selects all elements of type "h1." This kind of selector is called type selector . Any HTML element type can be used as a type selector. Type selectors are the simplest kind of selectors.</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">h1 {</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #36CFFF;</p>
                <p style="color: rgb(155, 155, 155);">}</p>
                 
              </div>
              <h4>&rarr; The Universal Selectors</h4>
              <p>The universal selector provided by CSS helps in choosing any elements within the HTML page. It goes with a single element and uses the asterisk (i.e., "*") symbol used for denoting the selector as a universal selector.</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">* {</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #000000;</p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <h4>&rarr; The Descendant Selectors</h4>
              <p>A descendant selector in CSS is any selector with white space between two selectors without a combinator. </p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">ul em {</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #000000; </p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <h4>&rarr; The Class Selectors</h4>
              <p>class selector is used to select all elements which belong to a particular class attribute. In order to select the elements with a particular class, use the period (.) character specifying the class name ie., it will match the HTML element based on the contents of their class attribute.</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">.black {</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #000000;</p>
                <p style="color: rgb(155, 155, 155);">}</p>
                
              </div>
              
              <p>This rule renders the content in black for every element with class attribute set to black in our
              document. You can make it a bit more particular. For example:</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                  <p style="color: rgb(155, 155, 155);">h1.black {</p>
                  <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #000000;</p>
                  <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <p>This rule renders the content in black for only &lt;h1&gt; elements with class attribute set to black.</p>
              <br>
              <p>You can apply more than one class selectors to a given element. Consider the followingexample:</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">&lt;p class="center bold"&gt;</p>
                
              </div>
              <p>This para will be styled by the classes center and bold.</p>

              <h4>&rarr; The ID Selectors</h4>
              <p>The id of an element is unique within a page, so the id selector is used to select one unique element! To select an element with a specific id, write a hash (#) character, followed by the id of the element.</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">#black {</p>                
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #000000;</p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <p>This rule renders the content in black for every element with id attribute set to black in our
                document. You can make it a bit more particular. For example:
                </p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">h1#black {</p>                
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #000000;</p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <p>This rule renders the content in black for only &lt;h1&gt; elements with id attribute set to black.</p>
              <br>
              <p>The true power of id selectors is when they are used as the foundation for descendant
                selectors. For example:</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">#black h2 {</p>                
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #000000;</p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <p>In this example, all level 2 headings will be displayed in black color when those headings will
                lie within tags having id attribute set to black.</p>

              <h4>&rarr; The Child Selectors</h4>
              <p> Child Selector is used to match all the elements which are children of a specified element. It gives the relation between two elements.</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">div > span {</p>                
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">background-color: yellow;</p>
                <p style="color: rgb(155, 155, 155);">}</p>
               
              </div>
              <p>This rule will render all the span in black if they are a direct child of the &lt;div&gt;
                element. Other paragraphs put inside other elements like &lt;body&gt; or &lt;p&gt; would not have any
                effect of this rule.</p>

              <h4>&rarr; The Attribute Selectors</h4>
              <p>CSS attribute selectors are used select and style HTML elements with the specified attributes and values. You can also apply styles to HTML elements with particular attributes. The style rule below will match all the input elements having a type attribute with a value of text:</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">input[type="text"]{</p>                
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #000000;</p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <p>The advantage to this method is that the &lt;input type="submit" /&gt; element is unaffected, and
                the color applied only to the desired text fields.</p>

              <h4>&rarr; Multiple Style Rules</h4>
              <p>You may need to define multiple style rules for a single element. You can define these rules
                to combine multiple properties and corresponding values into a single block as defined in the
                following example:</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">h1 {</p>                
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #36C;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">font-weight: normal;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">letter-spacing: .4em;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">margin-bottom: 1em;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">text-transform: lowercase;</p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <p>Here all the property and value pairs are separated by a semicolon (;). You can keep them
                in a single line or multiple lines. For better readability, we keep them in separate lines.</p>

              <h4>&rarr; Grouping Selectors</h4>
              <p>You can apply a style to many selectors if you like. Just separate the selectors with a comma,
                as given in the following example:</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">h1, h2, h3 {</p>                
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">color: #36C;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">font-weight: normal;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">letter-spacing: .4em;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">margin-bottom: 1em;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">text-transform: lowercase;</p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
              <p>This define style rule will be applicable to h1, h2 and h3 element as well. The order of the list
                is irrelevant. All the elements in the selector will have the corresponding declarations applied
                to them.</p>
                <br>
              <p>You can combine the various class selectors together as shown below:</p>
              <div id="ps-box" class="ps-box" style="margin: 2rem 0rem;">

                <p style="color: rgb(155, 155, 155);">#content, #footer, #supplement {</p>                
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">position: absolute;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">left: 510px;</p>
                <p style="color: rgb(190, 190, 190); margin-left: 4rem;">width: 200px;</p>
                <p style="color: rgb(155, 155, 155);">}</p>

              </div>
            </div>


            <!-- <div id="struc" class="html-a-rc">
            <h3>HTML Document Structure</h3>
           <div class="all-explore">
             <h4>&rarr; welcome here</h4>
           </div>
         </div> -->


          </div>


        </div>
      </div>

      <div class="previous-next-b">
        <a href="/indexcss"><button class="btn">&larr;Previous</button></a>
        <a href="/nextcss2"><button class="btn">Next&rarr;</button></a>
      </div>

  </section>

  <script>
    // Searchicon creation

    const search = document.querySelector(".searchi");
    const searchi = document.querySelector(".scinput");

    search.sonclick = function () {
      searchi.classList.toggle("sinput");
    };

    // darkmode icon creation

    var darki = document.getElementById("darki");

    darki.ionclick = function () {
      document.body.classList.toggle("dark-theme");
    };

    //create previous or next button 

    var visibleDiv = 0;
    function showDive() {
      $("-a-rc").hide();
      $("-a-rc:eq(" + visibleDiv + ")").show();
    }
    showDive()
    function next() {
      if (visibleDiv == $("-a-rc").length - 1) {
        visibleDiv = 0;
      }
      else {
        visibleDiv++;
      }
      showDive();
    }
    function previous() {
      if (visibleDiv == 0) {
        visibleDiv = $("-a-rc").length - 1;
      }
      else {
        visibleDiv--;
      }
      showDive();
    }


    // hamburger creation 

    var hamb = document.querySelector(".hamburger");
    var ullists = document.querySelector(".nav-a-links");

    hamb.hamclick = function () {
      ullists.classList.toggle("ul1");
    }
  </script>
</body>


</html>