<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CodingAngryheart</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
</head>

<body>
  <div id="navbar">
    <nav class="navbar-container">
      <div class="hamburger" onclick="hamclick()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="left-n-c">
        <h1>CodingAngryheart</h1>
      </div>
      <div class="nav-links-c">
        <ul class="nav-a-links">
          <li class="s-link">
            <a href="/index"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/home.png"
                alt="home" /></a>
          </li>
          <li class="s-link"><a href="/index">HTML</li></a>
          <li class="s-link"><a href="/indexcss">CSS</li></a>
          <li class="s-link"><a href="/indexjs">JavaScript</li></a>
          <li class="s-link"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="right-n-c">
        <input class="scinput" type="text" placeholder="search here..." />
        <img class="searchi" width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/search--v1.png"
          alt="search--v1" onclick="sonclick()" />
        <img id="darki" width="64" height="64"
          src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/external-night-halloween-bearicons-glyph-bearicons.png"
          alt="external-night-halloween-bearicons-glyph-bearicons" onclick="ionclick()" />
        <a href="/signcookie" class="plink" style="text-decoration: none;" onmousedown="onMousedown()"
          onmouseup="onMouseup()">
          <h1 style="font-size: 2rem; color: black;">Profile</h1>
        </a>
      </div>
    </nav>
  </div>
  <hr />

  <section id="HTML">
    <div class="HTML-container">
      <h1>
        Welcome to the HTML Tutorial
        <img width="50" height="50" src="https://img.icons8.com/ios/50/html-5--v2.png" alt="html-5--v2" />
      </h1>
      <p>Let's start this Tutorial with Gracefully</p>
      <div class="HTML-a-c">
        <div class="html-a-lc">
          <div class="first-html-c">
            <h2>HTML Overview</h2>
            <br /><a href="/index">1. Introduction of HTML</a>
            <br /><a href="/next1">2. HTML Document Structure</a>
            <br /><a href="/next2">3. Page Structure of HTML</a>
            <br /><a href="/next3">4. Work in the Browser</a>
            <br /><a href="/next4">5. Using Editors</a>
            <br /><a href="/next5">6.Introduction of HTML Tags, Elements and Attributes</a>
            <br /><a href="/next5">6.1 Explanation about HTML Tags</a>
            <br /> <a href="/next50">&rArr; Basic Tags of HTML</a>
            <br /><a href="/next51">&rArr; Phrase Tags</a>
            <br /><a href="/next52">&rArr; HTML Formatting Tags</a>
            <br /><a href="/next6">6.2 Explanation about HTML Elements</a>
            <br /><a href="/next7">6.3 Explanation about HTML Attributes</a>
          </div>
          <div class="second-html-c"></div>
          <div class="thired-html-c"></div>
          <div class="forth-html-c"></div>
        </div>

        <div id="ide">
          <div class="ide-p">
            <p>Try with copy the code &#8611;</p>
          </div>
          <div class="ide">
            <div class="ide-c">
              <a href="https://onecompiler.com/html"><img width="100" height="100" src="https://img.icons8.com/carbon-copy/100/source-code.png"
                alt="source-code" /></a>
            </div>
          </div>
        </div>

        <div id="struc" class="html-a-rc">



          <h3>Using Editors</h3>
          <div class="all-explore">
            <div class="explore">
              <p style="margin: 2rem 0rem;">However, for learning HTML we recommend text editors like Notepad that is
                already builted on the pc and vscode that is the vary unique and easy or most usable editor by the
                programmer. We believe that using these text editor is a good way to learn HTML. Follow the steps below
                to create your first web page with Notepad or vscode;</p>
            </div>
            <h4>&rarr; Using Notepad as a Text Editor.</h4>
            <p style="font-weight: 600; font-size: 2.3rem; margin: 1rem 2rem;"> What is the Notepad actually?</p>
            <div class="explore">
              <p>A straightforward text editor for Windows is called Notepad. It makes document creation possible for
                computer users. It is a basic text editing program available in Windows. Since the release of Windows
                1.0 in 1985, it has been a part of every edition of Microsoft Windows.</p>
              <p> Let's see how to use Notepad as a Text Editor;</p>
              <P>&#x2022; First let's go on the pc and open the Notepad.</P>
              <P>&#x2022; Then write html code (&lt;/&gt;) on the Text Editor</P>
              <P>&#x2022; After writing the html code save that file (Local Disk (C), Local Disk (D), Local Disk (E))
                with extension where you want to save.</P>
              <P>&#x2022; Now, by right clicking on that saved file, we will open it in the browser.</P>
              <P>Let's perform this process and understanding with one by one steps through some images;</P>

              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (124).jpg" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (125).jpg" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (128).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (129).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (130).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (131).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (132).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (133).jpg" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (134).png" alt="img">
            </div>

            <h4>&rarr; You can also Use vscode as a Text Editor.</h4>
            <p style="font-weight: 600; font-size: 2.3rem; margin: 1rem 2rem;"> What is the vscode actually?</p>
            <div class="explore">
              <p>Visual Studio Code is a streamlined code editor with support for development operations like debugging,
                task running, and version control. It aims to provide just the tools a developer needs for a quick
                code-build-debug cycle and leaves more complex workflows to fuller featured IDEs, such as Visual Studio
                IDE.</p>
              <p> Let's see how to use vscode as a Text Editor;</p>
              <P>&#x2022; First let's go on the pc and open the browser.</P>
              <P>&#x2022; Then write vscode download on the Searchbar and click enter button.</P>
              <P>&#x2022; Then you will get first link on the top page and click that link.</P>
              <P>&#x2022; Now select the devices in which device you want to install and use this code editor like
                windows, linux, MacOs etc.</P>
              <P>&#x2022; And further process you will perform in your file like creating folder, file etc.</P>
              <P>Let's perform this process and understanding with one by one steps through some images;</P>
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (135).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (136).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (137).png" alt="img">
              <p><big><b>Note:</b></big> Whichever device you are using, you can select and download it here for that
                particular device.</p>
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (138).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (140).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (143).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (145).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (146).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (148).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (154).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (150).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (151).png" alt="img">
              <img style="margin:2rem 0rem; width:119rem; border-radius: 1rem; box-shadow: 0rem 0rem 1rem 0rem gray;"
                src="Screenshot (152).png" alt="img">
            </div>

            <h4>Let's move on the next topic &rarr;</h4>

          </div>
        </div>


      </div>


    </div>
    </div>

    <div class="previous-next-b">
      <a href="/next3"><button class="btn" onclick="previous()">&larr;Previous</button></a>
      <a href="/next5"><button class="btn" onclick="next()">Next&rarr;</button></a>
    </div>

  </section>

</body>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>

  // Searchicon creation

  const search = document.querySelector(".searchi");
  const searchi = document.querySelector(".scinput");

  search.sonclick = function () {
    searchi.classList.toggle("sinput");
  };

  // darkmode icon creation

  var darki = document.getElementById("darki");

  darki.ionclick = function () {
    document.body.classList.toggle("dark-theme");
  };

  //create previous or next button 

  var visibleDiv = 0;
  function showDive() {
    $("-a-rc").hide();
    $("-a-rc:eq(" + visibleDiv + ")").show();
  }
  showDive()
  function next() {
    if (visibleDiv == $("-a-rc").length - 1) {
      visibleDiv = 0;
    }
    else {
      visibleDiv++;
    }
    showDive();
  }
  function previous() {
    if (visibleDiv == 0) {
      visibleDiv = $("-a-rc").length - 1;
    }
    else {
      visibleDiv--;
    }
    showDive();
  }

</script>

</html>