<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodingAngryheart</title>
    <link rel="stylesheet" href="/signup.css">
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
</head>
<body>
    <section id="signup">
        <div class="signup-container">
            <h1>Welcome to CodingAngryheart</h1>
            <p>Create your personal account</p>
            <div class="sform">
                <form action="/register" method="POST">
                    <label for="name">Enter your Username</label>
                    <input type="name" name="name" class="f-i" required>
                    <label for="email">Enter your email</label>
                    <input type="email" name="email" class="f-i" required>
                    <label for="password">Enter your password</label>
                    <input type="password" name="password" class="f-i" required>
                    <div class="agree"><input type="radio"><h2>I agree to CodingAngryheart's<span><a href="#">Terms of services</a></span></h2></div>
                    <button class="s-btn">Resister</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>